#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_L   0
#define ADJ_L      1

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {

                        bindings = <

  &kp GRAVE  &kp Q   &kp W   &kp E   &kp R    &kp T                                                      &kp Y    &kp U   &kp I     &kp O   &kp P           &kp BSPC

  &kp TAB    &kp A   &kp S   &kp D   &kp F    &kp G                                                      &kp H    &kp J   &kp K     &kp L   &kp SEMI        &kp ENTER


  &kp LCTRL  &kp Z   &kp X   &kp C   &kp V    &kp B    &kp ESC                                &caps_word &kp N    &kp M   &kp COMMA &kp DOT &mt RCTRL SLASH &kp SQT

                                     &kp LGUI &kp LALT &sk LSHIFT &none         &none &kp SPACE &none &none
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
                };
		
               
               
		
                adj_layer {

                        bindings = <
&none         &to  QWERTY_L &none    &none   &none         &none                                                                             &none             &kp   F11          &kp   F12 yy &kp PRINTSCREEN   &ext_power EP_OFF  &ext_power EP_ON
&sys_reset    &bt  BT_SEL 0 &bt  BT_SEL 1 &bt  BT_SEL 2 &bt  BT_SEL 3 &bt  BT_SEL 4                                                                     &none             &none              &none            &none          &none           &sys_reset
&none         &kp  LGUI     &kp  LALT     &kp  LCTRL    &kp LSHIFT    &none         &bt BT_CLR                                         &none            &none             &none              &out  OUT_USB    &out  OUT_BLE  &none           &bootloader
                                                        &trans        &trans        &trans        &trans                 &trans        &trans           &trans            &trans 
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
                };
        };
};